@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Include existing _Layout.cshtml
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@* Display a list of ToDos *@
<h2>ToDo List</h2>

@* Display a list from a Models of type ToDo*@
@model IEnumerable<TodoAppWeb.Models.ToDo>

@* Add HTTP post form for task *@
<form asp-action="Index" method="post" action="/ToDo/Create">
    <div class="form-group">
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@* Create a table to display the list of ToDos *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Complete", "Complete", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>